@import url(https://fonts.googleapis.com/css?family=Satisfy|Inter);

/* Style Guide */
:root {
  --black: rgba(0, 0, 0, 1);
  --royal-purple: rgba(120, 81, 169, 1);
  --alto: rgba(217, 217, 217, 1);
  --gallery: rgba(240, 240, 240, 1);
  --white: rgba(255, 255, 255, 1);
}

/* @media (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
} */


.webpage {
  width: 100vw;
  height: 100vh;

  /* background: rgba(147, 255, 250, 0.83); */
  background: linear-gradient(180deg, #D5D5D5 0%, rgba(5, 5, 5, 0) 100%);
  border: 1px solid black;
}

/* Business Card */

.business-card {
  position: absolute;
  width: 12vw;
  height: 6vw;
  margin-top: 1vw;
  margin-left: 1vw;

  background: linear-gradient(180deg, #EBC600 27.08%, #FFE559 84.37%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}

.matchewxd {
  -webkit-text-stroke: 0.25px #0CCDD9;
  width: 50%;
  height: 26%;
  margin-left: 12%;
  padding-top: 3%;

  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 200;
  /* font-size: 100%; */
  font-size: 1.5vw;

  color: #7851A9;

  /* border: 0.25px solid red; */
}

.job-disc {
  width: 75%;
  height: 14px;
  margin-top: 3%;
  margin-left: 12%;

  font-family: 'Inter';
  font-size: 0.45vw;

  color: #7851A9;

  /* border: 1px solid blue; */
}

/* Calculator */

.calc-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid blue; */
}

.calc {
  position: relative;
  width: 32.5vw;
  height: 36vw;
  max-width: 648px;
  max-height: 720px;
  min-width: 350px;
  min-height: 389px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  background: linear-gradient(180deg, #5DDFD7 0%, rgba(186, 255, 251, 0.83) 100%);
  border: 1px solid black;
  border-radius: 45px;
}

.calc-inner-frame {
  width: 29vw;
  height: 31.6vw;
  margin-top: 6%;

  min-width: 315px;
  min-height: 343px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: #f3f3f34f;
  border: 1px solid #000000;
}

.output-field {
  width: 26vw;
  height: 3vw;
  margin-top: 4%;

  min-width: 277px;
  min-height: 32px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
}

.output-text {
  text-align: end;
  margin: 1%;


  font-family: 'Inter';
  font-size: 2.1vw;
}

/* Calculator Buttons */

.buttons-frame {
  width: 26vw;
  height: 26vw;

  min-width: 277px;
  min-height: 277px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 3%;

  /* border: 1px solid red; */
}

.calc-button {
  width: 6vw;
  height: 4.7vw;

  min-width: 64px;
  min-height: 50px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 0%, #C9C9C9 100%);
  border: 1px solid black;
  border-radius: 12px;
}

.button-symbol {
  text-align: center;
  margin-top: 14%;
  margin-bottom: 0;

  font-family: 'Inter';
  font-size: max(24px, 2.5vw);
}

/* Calculator Eyes */

.eye-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 6%;

  width: 32.5vw;
  height: 6vw;
  max-width: 648px;
  max-height: 720px;
  min-width: 350px;
  min-height: 100px;
  /* border: 1px solid black */
}

.eye {
  width: 10vw;
  height: 10vw;
  min-width: 105px;
  min-height: 105px;
  max-width: 195px;
  max-height: 195px;

  background-color: var(--alto);
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.left.eye {
  left: 39%;
}

.right.eye {
  right: 39%;
}

/* Speech Bubble */

.speech-bubble {
  position: absolute;
  width: 17vw;
  height: 10vw;
  left: 16vw;
  top: 6vw;

  background: #F0F0F0;
  border: 0.817713px solid #000000;
  border-radius: 34.3439px;
}

.speech-tail {
  position: absolute;
  width: 0;
  height: 0;
  left: 24vw;
  top: 13vw;
  transform: rotate(33deg);


  border-style: solid;
}

.tail1 {
  border-width: 0 5vw 4vw 5vw;
  border-color: transparent transparent black transparent;
}

.tail2 {
  border-width: 0 4.99vw 3.95vw 4.94vw;
  border-color: transparent transparent #F0F0F0 transparent;
}

/* Status Button */

.status-button {
  position: absolute;
  width: 9.2vw;
  height: 4.5vw;
  left: 72vw;
  top: 9vw;

  background: linear-gradient(180deg, rgba(93, 223, 215, 0.21) 0%, rgba(93, 223, 215, 0.65) 48.44%, #5DDFD7 100%);
  border: 1px solid black;
  border-radius: 15px;
}

.status-text {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0;

  font-family: 'Inter';
  font-size: max(24px, 2.5vw);
}

/* Media */

@media (max-width: 960px) {

  .speech-bubble {
    position: unset;
    width: 67vw;
    height: 15vw;
    max-width: 245px;
    max-height: 63px;
    margin-top: 3%;

    background: #F0F0F0;
    border: 0.817713px solid #000000;
  }

  .status-button {
    position: unset;
    width: 9.2vw;
    height: 4.5vw;
    /* left: 72vw;
    top: 9vw; */

    min-width: 90px;
    min-height: 44px;
    margin-top: 3%;

    background: linear-gradient(180deg, rgba(93, 223, 215, 0.21) 0%, rgba(93, 223, 215, 0.65) 48.44%, #5DDFD7 100%);
    border: 1px solid black;
    border-radius: 15px;
  }

  .speech-tail {
    border-color: transparent transparent transparent transparent;
  }
}