@import url(https://fonts.googleapis.com/css?family=Satisfy|Inter);

/* Style Guide */
:root {
  --black: rgba(0, 0, 0, 1);
  --royal-purple: rgba(120, 81, 169, 1);
  --alto: rgba(217, 217, 217, 1);
  --gallery: rgba(240, 240, 240, 1);
  --white: rgba(255, 255, 255, 1);
}

/* @media (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
} */


.webpage {
  width: 100vw;
  height: 100vh;

  background: rgba(147, 255, 250, 0.83);
  border: 1px solid black;
}

/* Business Card */

.business-card {
  position: absolute;
  width: 12vw;
  height: 6vw;
  margin-top: 1vw;
  margin-left: 1vw;

  background: linear-gradient(180deg, #EBC600 27.08%, #FFE559 84.37%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}

.matchewxd {
  -webkit-text-stroke: 0.25px #0CCDD9;
  width: 50%;
  height: 26%;
  margin-left: 12%;
  padding-top: 3%;

  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 200;
  /* font-size: 100%; */
  font-size: 1.5vw;

  color: #7851A9;

  /* border: 0.25px solid red; */
}

.job-disc {
  width: 75%;
  height: 14px;
  margin-top: 3%;
  margin-left: 12%;

  font-family: 'Inter';
  font-size: 0.45vw;

  color: #7851A9;

  /* border: 1px solid blue; */
}

/* Calculator */

.calc-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid blue; */
}

.calc {
  position: relative;
  width: 32.5vw;
  height: 36vw;
  max-width: 648px;
  max-height: 720px;
  min-width: 350px;
  min-height: 389px;
  margin: 0 auto;
  /* margin-top: 2rem; */

  background: linear-gradient(180deg, #5DDFD7 0%, rgba(186, 255, 251, 0.83) 100%);
  border: 1px solid black;
  border-radius: 45px;
}

.eye-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4%;

  width: 32.5vw;
  height: 6vw;
  max-width: 648px;
  max-height: 720px;
  min-width: 350px;
  min-height: 100px;
  /* border: 1px solid black */
}

.eye {
  width: 10vw;
  height: 10vw;
  min-width: 105px;
  min-height: 105px;
  max-width: 195px;
  max-height: 195px;

  background-color: var(--alto);
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.left.eye {
  left: 39%;
}

.right.eye {
  right: 39%;
}

/* Speech Bubble */

.speech-bubble {
  position: absolute;
  width: 17vw;
  height: 10vw;
  left: 16vw;
  top: 6vw;

  background: #F0F0F0;
  border: 0.817713px solid #000000;
  border-radius: 34.3439px;
}

/* Media */

@media (max-width: 960px) {

  .speech-bubble {
    position: unset;
    width: 67vw;
    height: 15vw;
    max-width: 245px;
    max-height: 63px;
    margin-top: 3%;

    background: #F0F0F0;
    border: 0.817713px solid #000000;
  }
}