/* Style Guide */
:root {
  --black: rgba(0, 0, 0, 1);
  --royal-purple: rgba(120, 81, 169, 1);
  --alto: rgba(217, 217, 217, 1);
  --gallery: rgba(240, 240, 240, 1);
  --white: rgba(255, 255, 255, 1);
}

.webpage {
  display: flex;
  width: 1440px;
  height: 1024px;

  background: #FFFFFF;
  border: 1px solid black;
}

.business-card {
  width: 177px;
  height: 96px;
  margin-top: 1%;

  background: linear-gradient(180deg, #E4C419 27.08%, rgba(228, 196, 25, 0.51) 88.54%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
}